body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#menu {
  display: flex;
  flex: 0 0 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  width: 200px;
  min-width: 200px;
  height: 100%;
  margin: 0;
  padding: 10px 0 0 10px;
  border-right: 1px solid black;
  box-sizing: border-box;
}

#menu-blocks {
  overflow-y: scroll;
  padding: 0 10px 0 0;
}

#menu-var {
  flex: 1;
  overflow-y: scroll;
  padding: 0 10px 0 0;
}

.menu-var-entry {
  display: flex;
  justify-content: space-between;
}

.menu-var-entry:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.menu-var-entry>.type {
  color: grey;
}

#content {
  position: relative;
  flex: 1;
  height: 100%;
  right: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.diagram {
  width: 100%;
  height: 100%;
  background: black;
}
